<div class="well">
  <h1><%= article.title %></h1>
  <p><%= article.content %></p>
  <%= link_to 'Show', article, class: "btn btn-success" %>
  <%= link_to 'Edit', edit_article_path(article), class: "btn btn-primary" %>
  <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger"  %>
</div>