<%= tinymce_assets %>
<%= tinymce %>

<h1>Edit Article</h1>

<%= simple_form_for @article, :html => { :multipart => true } do |f| %>
  <%= f.select :category_id, @categories %>

  <%= f.input :title, label: "Book Title" %>
  
  <%= f.text_area :content, :class => "tinymce", :rows => 20, :cols => 120 %>
  
  <%= f.button :submit %>

<% end %>



<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
