<!-- assigns variable 'nav' to enable navbar highlighting -->
<%= javascript_tag do %>
  nav = 1;
<% end %>

<!-- Assigns value to @title variable -->
<% @title = @article.title %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="article-head-section">
      <!-- Article category -->
      <h4 class="article-date">
        <%= @article.created_at.strftime("%B") %> 
        <span class="article-date-day">
          <%= @article.created_at.strftime("%e") %></span><span class="article-date-ordinal-indicator">
        </span>, <%= @article.created_at.strftime("%Y")%>
      </h4>
      
      <!-- Article title -->
      <a href="/articles/<%= @article.id %>" target="-blank">
        <h1 class="article-show-headline"><%= @article.title %>&nbsp;<i class="fa fa-angle-right"></i></h1>
      </a>
      <h4>
        <!-- Article author -->
        <span class="article-author"><%= @article.user.first_name%> <%= @article.user.last_name%></span> &#9679;
        <!-- Responsive date element. Uses js file to adapt the ordinal indicator to the article date i.e. 1st, 2nd, 3rd etc -->
        <% if @article.category_id %>
          <span class="article-category"><%= @article.category.name %></span>
        <% end %>
        
      </h4>
      <p class="article-index-summary">
        <%= @article.summary %>
      </p>
    </div>
    
    <!-- Article image - appears large and centered -->
    <div class="text-center">
      <% if @article.article_img_content_type %>
        <%= image_tag @article.article_img.url(:article_show), class: "img-show" %>
      <% else %>
        <%= image_tag @article.category.category_img.url(:category_show), class: "img-show" %>
      <% end %>
    </div>
    <br>
    
    <!-- Main article content -->
    <div class="article-body">
      <p><%= @article.content.html_safe %></p>
    </div>
    
    <!-- Article footer -->
    <div class="article-index-bottom-padding"></div>
    
    <!-- Edit/Delete buttons -->
    <% if user_signed_in? %>
      <% if current_user.id == @article.user_id %>
        <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_article_path(@article), class: "index-user-button"%>
        &nbsp
        <%= link_to '<i class="fa fa-window-close"></i>'.html_safe, @article, method: :delete, data: { confirm: 'Are you sure?'}, class: "index-user-button"%>
      <% end %>
    <% end %>
    
    <!-- Back Button -->
    <%= link_to '<p class="article-back-btn"> <i class= "fa fa-arrow-left"></i> Back </p>'.html_safe, :back %>
    
  </div>
</div>


