
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="article-head-section">
      <% if @article.category_id %>
        <h5 class="article-category"><%= @article.category.name %></h5>
      <% end %>
      <h1 class="article-show-headline"><%= @article.title %></h1>
      <h4><span class="article-author">by <%= @article.user.first_name%> <%= @article.user.last_name%></span> &nbsp; <span class="article-date"><%= @article.created_at.strftime("%B") %> <span class="article-date-day"><%= @article.created_at.strftime("%e") %></span><span class="article-date-ordinal-indicator"></span>, <%= @article.created_at.strftime("%Y")%></span></h4>
      
    </div>
    <div class="text-center">
      <% if @article.article_img_content_type %>
        <%= image_tag @article.article_img.url(:article_show), class: "img-show" %>
      <% else %>
        <%= image_tag @article.category.category_img.url(:category_show), class: "img-show" %>
      <% end %>
    </div>
    <br>
    
    <div class="article-body">
      <p><%= @article.content.html_safe %></p>
    </div>
    
    <div class="text-center">
      <p><i class="fa fa-asterisk"></i> &emsp; <i class="fa fa-asterisk"></i> &emsp; <i class="fa fa-asterisk"></i></p>
    </div>
    
    <% if user_signed_in? %>
      <% if current_user.id == @article.user_id %>
        <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_article_path(@article), class: "index-user-button"%>
        &nbsp
        <%= link_to '<i class="fa fa-window-close"></i>'.html_safe, @article, method: :delete, data: { confirm: 'Are you sure?'}, class: "index-user-button"%>
      <% end %>
    <% end %>
    
    <%= link_to '<p class="article-back-btn"> <i class= "fa fa-arrow-left"></i> Back </p>'.html_safe, :back %>
    
  </div>
</div>


