<!DOCTYPE html>
<html>
<head>
  <!-- looks for variable @title, defaults to "MG" -->
  <title><%= @title || "Matthew Gillespie" %></title> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Loads Favicon from file -->
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <!-- HEADER SECTION -->
  <div class="container text-center">
    <a href="/" class="header-link"> <!-- Links to root -->
      <h1 class="header-name">
        Matthew Gillespie
      </h1>
    </a>
  </div>
  
  <!-- NAVBAR SECTION-->  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <!-- Article dropdown menu -->
            <a href="#" class="dropdown-toggle navbar-articles" data-toggle="dropdown" role="button" aria-expanded="false">Portfolio<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% if user_signed_in? %>
                <li><%= link_to "New", new_article_path %></li><!-- Link to new article form -->
              <% end %>
              <li><%= link_to "All", articles_path %></li><!-- link to index page without filter -->
              <% Category.all.each do |category| %>
                <li class="<%= 'active' if @category_name == category.name %>">
                  <%= link_to category.name, articles_path(category: category.id), class: "link" %><!-- link to index page with filter for each category -->
                </li>
              <% end %>
            </ul>
          </li>
          <!-- Link to About and Contact pages-->
          <li><%= link_to "About", about_path, class: "navbar-about" %></li>
          <li><%= link_to "Contact", contact_path, class: "navbar-contact" %></li>
          
          <% if user_signed_in? %>
            <!-- Links for user -->
            <li><%=link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <li><%=link_to "Edit Profile", edit_user_registration_path, class: "navbar-edit-profile" %></li>
            <li><%=link_to "Categories", categories_path, class: "navbar-categories" %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path, class: "navbar-sign-up" %></li><!-- REMOVE FOR PRODUCTION -->
            <li><%= link_to "Sign In", new_user_session_path, class: "navbar-sign-in" %></li><!-- REMOVE FOR PRODUCTION -->
          <% end %>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  
  
  <!-- MAIN PAGE CONTENT -->
  <div class="container main-section">
    <%= yield %>
  </div>
  
  
  <!-- FOOTER SECTION -->
  <div class="footer">
    <div class="container text-center">
      <div class="footer-container">
        <!-- links for social media -->
        <a href="https://twitter.com/alexmgillespie" class="twitter-btn" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        &nbsp;
        <a href="#" class="linkedin-btn" taget="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
        &nbsp;
        <a href="https://www.instagram.com/alexgillespie/" class="insta-btn" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>

</body>
</html>
