<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container text-center">
    <a href="/" class="header-link">
      <h1 class="header-name">
        Matthew Gillespie
      </h1>
      <h4 class="header-below-name">Fashion &emsp; Art &emsp; Music &emsp; Politics</h4>
    </a>
  </div>
    
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Articles<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "All", articles_path %></li>
              <% Category.all.each do |category| %>
                <li class="<%= 'active' if @category_name == category.name %>">
                  <%= link_to category.name, articles_path(category: category.id), class: "link" %>
                </li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          
          <!-- Temporary nav links for signin/out -->
          <% if user_signed_in? %>
            <li><%=link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <li><%=link_to "Edit Profile", edit_user_registration_path %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <div class="container">
    <%= yield %>
  </div>
  
  <div class="footer">
    <div class="container text-center">
      <h3>Footer</h3>
    </div>
  </div>

</body>
</html>
